body {
  background-color: grey;
}

.container {
  display: grid;
}

.colors {
  display: grid;
  height: 100vh;
  width: 30vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-content: center;
  gap: 5px;
  float: left;
  background-color: grey;
  margin: 5px;
}

button {
  grid-column: 1 / 4;
  background-color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 35px;
  padding: 5px;
  margin: 5px;
}

.squares {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  height: 100vh;
  padding: 5px;
  gap: 2px;
}

.squares > * {
  border: 1px grey;
  background-color: white;
}
