#tableTitle {
    color: red;
    border: 1px solid red;
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    margin: 0 auto;
}

td {
    padding: 2em;
}

img {
    border: 5px solid orange;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 50%;
    height: 50%;
}